.bg-wrapper {
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 60px;
align-self: stretch;
box-shadow: 0 10px 10px #CACADB, 0 -10px 10px #eb35be;

}